<div class="card">
  <form [formGroup]="editForm" class="content">
    <div class="form-group">
      <label for="id">Id:</label>
      <input class="form-control" formControlName="id" id="id" />
      <app-error-validation-message
        [errors]="editForm.controls.id.errors"
        [value]="editForm.value.id"
      />
    </div>

    <div class="form-group">
      <label for="from">From:</label>
      <input class="form-control" formControlName="from" id="from" />
      <app-error-validation-message
        [errors]="editForm.controls.from.errors"
        [value]="editForm.value.from"
      />
    </div>

    <div class="form-group">
      <label for="to">To:</label>
      <input class="form-control" formControlName="to" id="to" />
      <app-error-validation-message
        [errors]="editForm.controls.to.errors"
        [value]="editForm.value.to"
      />
    </div>

    <div class="form-group">
      <label for="date">Date:</label>
      <input class="form-control" formControlName="date" id="date" />
      <app-error-validation-message
        [errors]="editForm.controls.date.errors"
        [value]="editForm.value.date"
      />
    </div>

    <div class="form-group">
      <button class="btn btn-default" type="submit">Save</button>
    </div>
  </form>
</div>
