<div class="card">
  <div class="header">
    <h2>Flight Search</h2>
  </div>
  <div class="content">
    <form #flightSearchForm="ngForm" (submit)="search()">
      <div class="form-group">
        <label for="fs_from">From</label>
        <input
          [(ngModel)]="from"
          class="form-control"
          id="fs_from"
          maxlength="64"
          minlength="3"
          name="from"
          pattern="[a-zA-ZäöüÄÖÜß ]*"
          required
        />
      </div>
      <app-error-validation-message
        *ngIf="flightSearchForm?.controls && flightSearchForm.controls['from']"
        [errors]="flightSearchForm.controls['from'].errors"
        [value]="from"
        label="From"
      />
      <div class="form-group">
        <label for="fs_to">To</label>
        <input
          [(ngModel)]="to"
          class="form-control"
          id="fs_to"
          maxlength="64"
          minlength="3"
          name="to"
          pattern="[a-zA-ZäöüÄÖÜß ]*"
          required
        />
      </div>
      <app-error-validation-message
        *ngIf="flightSearchForm?.controls && flightSearchForm.controls['to']"
        [errors]="flightSearchForm.controls['to'].errors"
        [value]="to"
        label="To"
      />
      <div class="form-group">
        <button [disabled]="!to || !from || flightSearchForm.invalid" class="btn btn-default">
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="Object.keys(basket).length > 0" class="card">
  <div class="content">{{ basket | json }}</div>
</div>
<div class="row">
  <app-flight-card
    (editClicked)="selectedFlight = flight"
    *ngFor="let flight of flights"
    [(selected)]="basket[flight.id]"
    [item]="flight"
    class="col-xs-12 col-sm-4 col-lg-3 col-xl-2"
  >
    <h1 class="top">Flight</h1>
    <pre class="bottom">{{ flight | json }}</pre>
  </app-flight-card>
</div>

<app-flight-edit *ngIf="selectedFlight" [flight]="selectedFlight" />
