<div class="card">
  <div class="header">
    <h2>Flight Search</h2>
  </div>
  <div class="content">
    <form (submit)="search()">
      <div class="form-group">
        <label for="fs_from">From</label>
        <input [(ngModel)]="from" class="form-control" id="fs_from" name="from" />
      </div>
      <div class="form-group">
        <label for="fs_to">To</label>
        <input [(ngModel)]="to" class="form-control" id="fs_to" name="to" />
      </div>
      <div class="form-group">
        <button [disabled]="!to || !from" class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="flights.length > 0" class="card">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
    </thead>
    <tbody>
      <tr
        *ngFor="let flight of flights"
        [class]="{ active: selectedFlight?.id === flight.id, 'bg-warning': flight.delayed }"
      >
        <td>{{ flight.id }}</td>
        <td>{{ flight.from | city }}</td>
        <td>{{ flight.to | city: CityFormatting.LONG }}</td>
        <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
        <td><button (click)="selectedFlight = flight" class="btn btn-default">Select</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="selectedFlight" class="card">
  <div class="content">
    <div>{{ message }}</div>
    <div class="form-group">
      <label>Id</label>
      <input [(ngModel)]="selectedFlight.id" class="form-control" />
    </div>
    <div class="form-group">
      <label>From</label>
      <input [(ngModel)]="selectedFlight.from" class="form-control" />
    </div>
    <div class="form-group">
      <label>To</label>
      <input [(ngModel)]="selectedFlight.to" class="form-control" />
    </div>
    <div class="form-group">
      <label>Date</label>
      <input [(ngModel)]="selectedFlight.date" class="form-control" />
    </div>
    <div class="form-check">
      <input [(ngModel)]="selectedFlight.delayed" class="form-check-input" type="checkbox" />
      <label class="form-check-label">Delayed</label>
    </div>
    <div class="form-group">
      <button (click)="save()" class="btn btn-default">Save</button>
    </div>
  </div>
</div>
